<!DOCTYPE html>
<html lang="ko" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clean Funding</title>

    <!-- 파비콘(favicon) -->
    <link rel="shortcut icon" href="../public/images/logo/logo-3-64.png" type="image/x-icon">
    <!-- <link rel="shortcut icon" href="/images/logo/logo-3-64.png" type="image/x-icon"> -->

    <!-- 제이쿼리(jQuery) & 파퍼(popper) -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- 부트스트랩(bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/css/mdb.min.css" rel="stylesheet">

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/js/mdb.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->

    <!-- JS -->
    <script src="../public/scripts/main.js"></script>
    <!-- <script src="/scripts/main.js"></script> -->


</head>
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<!-- Σ(￣ロ￣lll) -->
<body class="bg-light h-100">
    <div class="text-center flex-center h-100">
        <div id="h0">
            Σ(￣ロ￣lll)
        </div>
        <h4><br>이런! 페이지를 찾지 못했군요!<br><br>당장 개발자의 손목을 분지르세요!</h4>
    </div>
</body>
</html>
