<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clean Funding</title>

    <!-- 파비콘(favicon) -->
    <link rel="shortcut icon" href="../public/images/logo/logo-1-64.png" type="image/x-icon">
    <!-- <link rel="shortcut icon" href="/images/logo/logo-1-64.png" type="image/x-icon"> -->

    <!-- CSS -->
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->

    <!-- JS -->
    <script src="../public/scripts/main.js"></script>
    <!-- <script src="/scripts/main.js"></script> -->
</head>
<body>
    
</body>
</html>